.env
.idea/
__pycache__/
*.py[cod]
venv/
.venv/
/apps/learning_by_video/data/
/frontend/public/resources/learning_by_video_video/
/frontend/public/resources/learning_by_video_cover_letters/
/frontend/public/manual